version: "3.8"

services:
  backend:
    image: opsimate/backend:latest
    container_name: opsimate-backend
    ports:
      - "3001:3001"        
    volumes:
      - ./data/database:/app/data/database
      - ./data/private-keys:/app/data/private-keys
      - ./config.yml:/app/config/config.yml
    environment:
      - API_TOKEN=opsimate
      - NODE_ENV=production
      - HOST=0.0.0.0
      - CONFIG_FILE=/app/config/config.yml
    restart: unless-stopped

  frontend:
    image: opsimate/frontend:latest
    container_name: opsimate-frontend
    ports:
      - "8080:8080"        
    environment:
      - NODE_ENV=production
      - API_URL=http://backend:3001   
      - HOST=0.0.0.0
    restart: unless-stopped
